
* {
  
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: lightblue;
}


.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;

}
nav p{
    margin-left: 25px;
    font-size: 25px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color:black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #5741a7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* about me */

.row {
    display: flex;
    margin-bottom: 10%;
    /* flex-wrap: wrap; */
}
.col-1{
    margin-left: 30%;
    margin-right: 15%;
}
.col-2{
    margin-right: 20%;
}

hr{
    border-style: dotted;
    border-width: 7px;
    border-bottom: 0;
    width: 10%;
    color: #11999E;
}

/* projects */

.projects{
    display: flex;
    gap:1rem
}

.card{
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    border-radius: 12px;
    border: solid.5px black;
    width: 50%;
}
.card h3{
    margin-top: 0px;
}
.card img{
    display: block;
    margin: auto;
}
.contact-left{
    
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
form input,
form textarea {
    width: 80%;
    border: 0;
    outline: none;
     /* background: #b9acac4e;  */
     padding: 10px;
    margin: 10px 0; 
    /* color: #fff; */
    /* font-size: 18px; */
    border-radius: 6px;
}
.contact{
    padding-left: 30%;
}

.contact-left p {
    margin-left: 50%;
    margin-top: 30px;
}

.contact-left h1{
    margin-left: 50%;
}
.contact-left p i {
    
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    margin-left: 50%;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: black;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
}

.social-icons a:hover {
    color: #00000068;
    transform: translateY(-5px);
}
